.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px 0; /* Add some padding to the header */
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add padding to the sides */
  width: 100%;
  color: white;
}

.dropdown-menu {
  display: none; /* Hide dropdown menu by default */
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust this value as needed to position below the header */
  right: 20px;
  background-color: #282c34;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

/* Show the dropdown menu when menuOpen is true */
.show {
  display: flex;
}

.dropdown-menu-item {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block; /* Make the links take up the full width of the dropdown */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main-content {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add space between icons */
  padding: 20px 0; /* Add padding above and below the icon buttons */
}
